body {
    background-image: url('../img/bg.jpg');
}

.container{
    height: 100vh;
    background: black;
    opacity: 0.8;
}

.header{
    position: relative;
    color: white;
    border-bottom: 1px solid green;
}

.headerText{
    
    font-size: 45px;
    text-align: center;
    padding: 25px 0px 0px 0px;
}

.dateTime{
    position: absolute;
    top:6px;
    right:6px;
    text-align: right;
}