body {
    background-image: url('../img/bg.jpg');
}

a:focus {
    outline: none; /*Remove bootstrap outline from visited links*/
}

.container{
    height: 100vh;
    background: black;
    opacity: 0.8;
}

.header{
    position: relative;
    color: white;
    border-bottom: 1px solid green;
}

.headerText{
    font-size: 45px;
    text-align: center;
    padding: 25px 0px 0px 0px;
}

.dateTime{
    position: absolute;
    top:6px;
    right:6px;
    text-align: right;
}

.navbar{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.navbar-inverse{
    background-image: linear-gradient(to bottom,#0c0c0c 0,rgb(19, 19, 19) 100%);
}

@media screen and (min-width:770px){
    .navbar-nav > li > a, .navbar-brand {
        padding-top:6px !important; 
        padding-bottom:0 !important;
        height: 35px;
        transition: color 0.5s;
    }
    .navbar {min-height:35px !important;}
}

@media screen and (max-width:770px){
    .headerText{
        font-size: 20px;
        padding: 35px 0px 10px 0px;
    }
    .dateTime{
        font-size: 10px;
    }
}

.modal-backdrop{
	position: relative;
}